.benefit {
  padding-top: 7rem;
  padding-bottom: 5rem;
}

.benefit .header h3 {
  font-size: 2rem;
  font-weight: bold;
  text-shadow: 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.5);
}

.benefit .header span {
  color: orange;
}

.benefit-content {
  opacity: 0;
}

.benefit-content.show {
  opacity: 1;
  transition: 0.7s ease-in;
}

.benefit .card {
  padding: 0.2rem 0.6rem;
  font-size: 1.2rem;
  border-left: 3px solid orange;
}

.benefit .card span {
  font-size: 1.2rem;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.benefit .card .bi-check {
  margin-right: 0.5rem;
  font-size: 1.8rem;
}

.benefit img {
  width: 100% !important;
}
