.contact form,
.contact-info .row {
  padding: 10px;
}

.contact form {
  width: 100%;
}

.contact form .col-12 {
  padding: 0;
}

.contact form input,
.contact form textarea {
  border: none;
  outline: none;
  width: 100%;
  padding: 10px;
  border-left: 2px solid orange !important;
  border: 1.5px solid #4444;
  border-radius: 5px;
  margin-bottom: 20px;
}

.half {
  width: 48% !important;
  padding: 0 !important;
}

.icon {
  background-color: orange;
  font-size: 1.5rem;
  padding: 5px 0;
  display: flex;
  justify-content: center;
  align-self: center;
  color: #fff;
  border-radius: 5px;
}

.info {
  font-size: 1.2rem;
  font-weight: 500;
}

.contact form .row {
  position: relative;
  margin-bottom: 10px;
}

.contact form .half {
  position: relative;
}

.error {
  color: red;
  font-size: 0.7rem;
  position: absolute;
  left: 0;
  bottom: 0;
}

.contact form button {
  width: 25%;
}
