nav {
  background: transparent !important;
}

a.navbar-brand,
.offcanvas-title {
  font-size: 2rem !important;
  font-weight: 500;
  font-style: italic;
  font-family: "Kanit", sans-serif !important;
  color: orange !important;
}

nav a {
  color: #fff !important;
}

.active {
  color: orange !important;
}

nav .form-control:focus {
  border-color: orange !important;
  box-shadow: 0 0 3px 1px rgba(255, 165, 0) !important;
}

.navbar-toggler {
  background-color: rgba(255, 255, 255, 0.8) !important;
  border: none !important;
}

.navbar-toggler:focus {
  box-shadow: 0 0 0 var(--bs-navbar-toggler-focus-width) orange !important;
}
